<h2>Angular Crud</h2>

<form (ngSubmit)="onSubmit()">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="form-group">
        <label>First Name</label>
        <input type="text" class="form-control" [(ngModel)]="home.firstname" name="firstname">
      </div>
      <div class="form-group">
        <label>First Name</label>
        <input type="text" class="form-control" [(ngModel)]="home.lastname" name="lastname">
      </div>
      <button class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>

<table border="1" align="center">
  <tr>
    <td>Firstname</td>
    <td>Lastname</td>
  </tr>
  <tr *ngFor="let obj of homearray">
    <td>{{obj.firstname}}</td>
    <td>{{obj.lastname}}</td>
  </tr>
</table>
