.menu {
 // background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

a {
  display: inline-block;
 // color: white;
  font-size: 2rem;
  text-decoration: none;
  background-color: coral;
  color: white;
  margin-top: 2rem;
}
