<div class="menu">
<a routerLink="interpolation" routerLinkActive="active">Interpolation</a>
<a routerLink="eventbinding">Event Binding</a>
<a routerLink="propertybinding">Property Binding</a>
<a routerLink="twowaybinding">Two Way Binding</a>
  <a routerLink="ngfor">ngFor</a>
  <a routerLink="ifelse">If Else</a>
  <a routerLink="model">Model</a>
  <a routerLink="angularcrud">Angular Crud</a>
  <a routerLink="getdata">Get Data</a>
  <a routerLink="postdata">Post Data</a>
</div>

<div class="cource-practice">
  <h2 style="text-align: center">Cource Practice</h2>
  <a routerLink="cource-ngfor">ngFor</a>
</div>
<router-outlet></router-outlet>

 <!-- <app-interpolation></app-interpolation>
<app-propertybinding></app-propertybinding>
<app-eventbinding></app-eventbinding>
<app-twowaybinding></app-twowaybinding> -->


